*{
    margin:0; 
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
}

table, th, td{
    border: 1px solid rgb(92, 43, 92);
    background-color: rgb(175, 152, 175);
}

td{
    background-color: rgb(202, 186, 202);
}